# Domain
DOMAIN_NAME=serjimen.42.fr

# Host System User
LOGIN=

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=

# WordPress users
WP_ADMIN_USER=
WP_ADMIN_EMAIL=
WP_USER=
WP_USER_EMAIL=

# FTP Server
FTP_USER=
